services:
  - type: web
    name: catdog-ml-api
    runtime: docker
    dockerfilePath: ./Dockerfile.render
    envVars:
      - key: ENVIRONMENT
        value: production
    healthCheckPath: /health
    autoDeploy: true
